/*insert reset css*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset css*/
/*end reset css*/
/*end reset css*/
/*end reset css*/
/*end reset css*/

header.marquee  { 
  font-family: 'DotriceRegular'; 
  font-weight: normal; 
  font-style: normal; 
}


body {
  background-color: #130F10;
/*  margin-left: 25px;
  margin-top: 25px;*/
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFF;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.main-container {
  display: block;
  width: 90%;
  margin-left: 0;
  margin-right: 10%;
}

header {
  position: fixed;
  width: 100%;
  background-color: #333;
}

nav {
  line-height: 2rem;
  width: 80%;
  margin-left: 10%;
}

.soc-med {
  display: none;
}

footer {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

/*footer .soc-med ul {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}*/

.container {
  width: 60%;
  margin: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: #AAF;
}

section {
  height: 100vh;
  display: block;
  padding-top: 10%;
}


#bio {
}

p {
  display: inline-block;
}

a i {
  color: #FFF;
}

a {
  color: #66F;
  text-decoration: none;
}

a:visited {
  color: #88F;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2% 0 2% 0 ;
}

p {
  font-size: 1.5rem;
  color: #888;
}

iframe {
  width: 80%;
  margin: 2% 10% 2% 10%;
}

img {
  width: 80%;
  margin: auto;
}

.two-col img{
  width: 40%;
  float: left;
}

.two-col p {
  display: block;
  width: 50%;
  padding: 0 5% 0 5%;
  float: right;
}

#mc_embed_signup {
  background: #130F10;
  clear: left;
  width: 400px;
}

.mc-field-group {
  font-size: 2rem;
}

.view-cap, .view-container-border {
  background-color: #000;
}

.fade-in-after-two {
  opacity: 0;
  transition: opacity 2s;
  webkit-transition: opacity 2s;
}

@media screen and (max-device-width: 750px){
  .soc-med {
    display: block;
    font-size: 4rem;
    margin: 10% 0 10% 0;
  }
  .soc-med ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .soc-med a {
    color: #AAF;
  }
  nav {
    display: none;
  }
  footer {
    display: none;
  }
  p {
    font-size: 2rem;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  section {
    height: 50%;
    display: block;
    padding-top: 10%;
  }
  .two-col {
    width
  }
  .two-col img {
    display: block;
    width: 95%;
    margin: auto;
    float: none;
    margin-bottom: 10%;
  }
  .two-col p {
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 10%;
  }
}
