.hello {
    color: green;
}

.mag-page {
    height: 100vh; // set by scrollify
}
.mag-page-1 {
    background-color: #666666;
}
.mag-page-2 {
    background-color: #884444;
}

.mag-page-3 {
    background-color: #448844;
}
.mag-page-4 {
    background-color: #444488;
}