html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} // basic reset

body {
    background-color: #130F10;
    /*  margin-left: 25px;
    margin-top: 25px;*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #aaaaaa;
}

ul {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    background-color: #333;
}
header h1.marquee  {
    justify-content: center;
    display: block;
    padding: 5%;
    width: 100%;
    font-family: 'DotriceRegular'; 
    font-size: 5em; 
    font-weight: bold;
    transition: font-size 1s;
}
  
nav {
    position: fixed;
    width: 100%;
    line-height: 2rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #444444;
}
nav ul li {
    cursor: pointer;
    transition: color 500ms;
}

nav ul li.highlight {
    color: #dddddd;
}

.main-container {
    display: block;
    // width: 90%;
    // margin-left: 0;
    // margin-right: 10%;
}

.hello {
    color: green;
}

.mag-page {
    height: 100vh; // set by scrollify
}
.page-1 {
    background-color: #666666;
}
.page-2 {
    background-color: #884444;
}
.page-3 {
    background-color: #448844;
}
.page-4 {
    background-color: #444488;
}